* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    height: 95dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    padding: 30px;
    background: #ddd;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.now-playing {
    font-size: 1rem;
}

.track-art {
    width: 180px;
    margin: 20px;
    height: 180px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 6px 5px black;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
}

.track-art img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.track-name {
    font-size: 2rem;
}

.track-artist {
    font-size: 1rem;
    margin-top: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.active,
.randomActive {
    color: black;
}

.prev-track,
.next-track,
.repeat-track,
.random-track,
.playpause-track {
    opacity: 0.8;
    padding: 20px;
    transition: opacity .2s;
}

.prev-track:hover,
.next-track:hover,
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover {
    opacity: 1.0;
}

.wave,
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seek-slider,
.volume-slider {
    height: 5px;
    appearance: none;
    border-radius: 10px;
    -moz-transition: .2s;
    -moz-appearance: none;
    background: #83a9ff;
    transition: opacity .2s;
    -webkit-transition: .2s;
    -webkit-appearance: none;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    cursor: grab;
    appearance: none;
    border-radius: 100%;
    background: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #3774ff;
}

.seek-slider:active::-webkit-slider-thumb,
.volume-slider:active::-webkit-slider-thumb {
    cursor: grabbing;
}

.seek-slider:hover,
.volume-slider:hover {
    opacity: 1.0;
}

.seek-slider {
    width: 50%;
}

.volume-slider {
    width: 30%;
}

.current-time,
i.fa-volume-up,
.total-duration,
i.fa-volume-down {
    padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

.rotate {
    animation: rotation 8s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(350deg);
    }
}

.loader {
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#83a9ff 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
}

.loader.playing {
    animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
    0% {
        background-size: 20% 50%, 20% 50%, 20% 50%
    }

    20% {
        background-size: 20% 20%, 20% 50%, 20% 50%
    }

    40% {
        background-size: 20% 100%, 20% 20%, 20% 50%
    }

    60% {
        background-size: 20% 50%, 20% 100%, 20% 20%
    }

    80% {
        background-size: 20% 50%, 20% 50%, 20% 100%
    }

    100% {
        background-size: 20% 50%, 20% 50%, 20% 50%
    }
}